.sidebar-nav-fixed {
	width: 15%;
}

.scroll-link {
	font-size: 10px;
}

#rate {
	text-align: center;
}

#home_panels {
	float: left;
	left: 30px;
}

#createButtons {
	margin-top: 40px;
}

.form-group {

}

#to {
}

#timepicker2, #timepicker1 {
}

.form-control {
}

.control-label {
}

#to {
	text-align: center;
}

#body, #notif-body {
	margin: 20px;
}

#create_job, #my_notifs {
	margin-bottom: 60px;
}

.notif {
	padding-bottom: 20px;
	vertical-align: middle;
}

#notifs {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

#createJobTitle {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

.jobCreation-title {
	text-align: center;
}

textarea {
   resize: none;
}

#newbet-box{
	left: 50px;
}

#leftMenu {
	height: 500px;
/*	background-color: lightBlue;
*/}

