.sidebar-nav-fixed {
	width: 15%;
	left: 18px;
}


#rateType {
	right: 15px;
	text-align: center;
}

.notif {
	text-align: left
}

#rate {
	text-align: center;
}

.sidebar-nav-fixed{
      max-height: auto;
      overflow-y: auto;
}

.glyphicon-asterisk {
	margin-top: 2px;
}
.home_panels {
}


.scroll-link {
    font-size: 16px;
}

#bigTitle {
	font-size: 40px;
}

#createButtons {
	margin-top: 40px;
}

.form-group {

}


#babies {
	font-size: 40px;
}

#to {
	text-align: center;
}

#body, #notif-body {
	margin: 20px;
}

#create_job, #my_notifs {
	margin-bottom: 60px;
}

.notif {
	padding-bottom: 20px;
	vertical-align: middle;
}

.jobCreation-title {
	text-align: center;
}

textarea {
   resize: none;
}

#leftMenu {
	height: 500px;
/*	background-color: lightBlue;
*/}



/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #D9E8F7;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #D9E8F7;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #D9E8F7;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: #D9E8F7;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #D9E8F7;
    box-shadow: none;
}

.baby-blue{
    background-color: #D9E8F7;    
}

.navbar-default {
    background-color: #D9E8F7!important;
}

.baby-blue{
    background-color: #D9E8F7!important;    
}

a.parent{
    background-color: #D9E8F7;
}

a.parent:hover{
    background-color: #EEEEEE;
}
body {
    background-image: url(../back-1.jpg);
    left: 1000px;
    background-repeat:no-repeat;
    background-size: 1280px 800px;
    background-position:top left;
}

