ul
{
    list-style-type: none;
}

.panel-title{
	width: 70%;
}

.title_side{
	word-wrap:break-word;	
	white-space: pre-line;      /* CSS 3.0 */
	padding-left: 25px;
	text-align: left;
}

#hireLabel {
	text-align: center;
	padding: 0px;
	padding-bottom: 10px;
	height: 50px;
	width: 74px;
}

#rateType {
	right: 15px;
	text-align: center;
}

.babysitter-hire {
}

.job-btn{
	margin-right:5px;
}
.desc{
word-break: break-all;
}

.vis{
	border-width: 1px;
	border-color: #d3d3d3;
	border-style: solid;
	width:100%;
	height: 68px;
	border-radius: 4px;
	font-size: 14px;
	color:#555;
	line-height: 1.42857143;
	margin-top: 20px;
}
.rate{
	display: inline-block;
}
.rate-msg, .time-to-msg, .time-from-msg, .loc-msg{

	font-weight: bold;
}

.time-to-msg{
	padding:5px;
}
.time-icon{
	display: inline-block;
	padding-right: 2px;
}
#sideTitle_new{
	font-style: italic;
}
body {
	background-image: url(../image.jpeg) .jpg) no-repeat center center fixed;
}

