body {
	padding-top: 100px;
}

#babysitter-search {
	width: 300px;
	font-size: 16px;
}

#menu {
	font-size: 24px;
	margin-top: 4px;
}

.navbar-brand {
	font-size: 40px;
}

.navbar {
	height: 10%;
	text-align: center;
}


.job_details{
	display:inline-block; 
}
.edit{
	float:right;
}
.panel-title{
	width: 80%;
	margin-right: 0px;
}

.img-thumbnail{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.one-applicant{
	padding: 10px;
	margin:10px;
}
.app_panel_btn_hire{
	position: relative;
	margin-bottom:10px;
	top: 40px;
}
.app_panel_btn_reject{
	position: relative;
	margin-bottom:5px;
	top: 50px;
}
.dropdown-menu {
  width: 80%; 
}

ul
{
    list-style-type: none;
}

.title_side{
	word-wrap:break-word;	
	white-space: pre-line;      /* CSS 3.0 */
	padding-left: 0px;
	text-align: left;

}

.job-btn{
	margin-right:5px;
}

.vis{
	border-width: 1px;
	border-color: #d3d3d3;
	border-style: solid;
	width:50px;
}
