#babysitter-search {
	width: 300px;
	font-size: 16px;
}

#menu {
	font-size: 20px;
}
.navbar-brand {
	font-size: 30px;
}
.controlLabel{
	padding-right: 15px;
	padding-left: 15px;
}

.radio{
	padding-right: 15px;
}


#controls{
	margin-bottom: 15px;
}
input{
	font-style: normal;
}
.individualJob{
	display: block;
	clear:both;
}
.left_job{
	width: 50%;
	display: inline-block;
	float:left;
}
.right_job{
	width: 50%;
	display: inline-block;
	float:right;
}
hr{
	clear:both;
}
